.vr_right {
  border-right: 1px dashed #333;
}
.clickItem{
    position:absolute;
}

.img_canvas {
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(0,0,0,.5);
}